html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

.container-appbar{
  position: fixed;
  width: 100vw;
  text-align: center;
  background-color: #1C6758;
  padding: 20px 0 20px 0;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: 0%;
  left: 50%;
  transform: translate( -50%, 0% );
}

.container-dorminfo{
  position: fixed;
  width: 500px;
  background-color: white;
  border: solid;
  border-width: 8px;
  border-color: black;
  border-radius: 30px;
  top: 10%;
  left: 50%;
  transform: translate( -50%, 0% );
}

#dorminfo{
  font-size: 3em;
  font-weight: bold;
  padding: 20px 30px;
}

.container-washingmachine{
  margin: 500px 0 0 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  grid-row-gap: 40px;
  grid-column-gap: 100px;
  width: fit-content;
}

.container-washingmachine-element{
  position: relative;
  width: 400px;
}

.button-washingmachine{
  background-color: transparent;
  border: none;
}

.button-washingmachine img{
  width: 400px;
}

.button-washingmachine-reservation{
  background-color: transparent;
  border: none;
}

.button-washingmachine-reservation img{
  width: 160px;
  position: absolute;
  top: -10%;
  right: -20%;
}

.name-washingmachine{
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  position: absolute;
  top: 3.5%;
  left: 10%;
}

.circular-progress-time{
  position: absolute;
  background-color: #1C6758;
  width: 293px;
  height: 293px;
  border-radius: 50%;
  top: 54.7%;
  left: 51.5%;
  transform: translate( -50%, -50% );
  background: conic-gradient(rgb(28, 103, 88) 30deg, rgb(237, 237, 237) 0deg);
}

.circular-progress-time::before{
  content: "";
  position: absolute;
  background-color: white;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: solid;
  border-width: 4px;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.time-washingmachine{
  color: #1C6758;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  position: absolute;
  top: 54.7%;
  left: 51.5%;
  transform: translate( -50%, -50% );
}

.container-button-use{
  position: fixed;
  bottom: 5%;
  right: 5%;
}

#button-use{
  background-color: transparent;
  border: none;
}

#button-use img{
  width: 100px;
  height: 100px;
}

#body-cam{
  background-color: black;
}

.container-description{
  text-align: center;
  padding: 20px 0px 20px 0px;
}

#description-qr{
  color: white;
  font-weight: bold;
  font-size: 1em;
}

#outputMessage{
  color: white;
}

#outputData{
  color: white;
}

@media (min-width: 768px){

}

@media (min-width: 1024px){
  #button-use img{
    width: 500px;
    height: 500px;
  }

  .container-description{
    padding: 100px 0px 100px 0px;
  }

  #description-qr{
    font-size: 4em;
  }
}