.container{
  position: relative;
  height: 2340px;
  width: 1080px;
  background-color: lightblue;
}

.container-button-use{
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.canvas{
  filter: brightness(40%);
}

.canvas-nofilter{
  width: 50%;
  padding-bottom: 50%;
  filter: brightness(160%);
}